@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.errorContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 87px;

  .message {
    padding: 60px 0;

    h1 {
      font-size: 288px;
      color: rgba(255, 96, 96, 1);
      font-family: 'montserrat';
      font-weight: 700;
    }
  }

  .description {
    p {
      text-align: center;
      font-size: 36px;
      color: rgba(255, 96, 96, 1);
      font-family: 'montserrat';
      line-height: 30px;
      padding-top: 50px;
      font-weight: 500;
    }
  }

  .home {
    padding-top: 140px;

    .homepage {
      font-size: 18px;
      color: rgba(255, 96, 96, 1);
      font-family: 'montserrat';
    }
  }
}
// ------------------------------------------------------------Version Smartphone -----------------------------------------------------------------------------------------------------------------------------
@media (max-width: 768px) and (min-width: 320px) {
  .errorContainer{
    padding-top: 50px;
  }
  .errorContainer .message {
    h1{
    font-size: 155px;
}
  }
  .errorContainer .description {
    p{
    font-size: 18px;
  }
}
.errorContainer .home .homepage {
  font-size: 14px;
}
}