
.airbnbContainer {
  width: 100%;
  max-width: 100%;
  padding: 30px 60px;
}

.imageContainer {
  width: 100%;
  max-width: 100%;
  height: 200px; /* Remove fixed height to make it responsive */
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically center the content */

  img {
    position: relative;
    object-fit: cover;
    border-radius: 25px;
    width: 100%;
    height: 100%; /* Maintain image aspect ratio */
    z-index: 1;
  }
}

.airbnbName h1 {
  font-size: 36px;
  color: rgba(255, 96, 96, 1);
  font-family: 'montserrat';
  font-weight: 500;
}

.location p {
  font-size: 18px;
  font-family: 'montserrat';
  color: rgba(255, 96, 96, 1);
  padding-top: 5px;
  font-weight: 500;
}

.tags {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  gap: 10px;

  .name {
    padding: 5px 30px;
    background-color: rgba(255, 96, 96, 1);
    color: white;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'montserrat';
  }
}

.airbnbContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.identity {
  display: flex;
  gap: 10px;
}

.photo {
  position: relative;
  top: -6px;

  img {
    border-radius: 50%;
    width: 50px;
  }
}

.identity .name p {
  color: rgba(255, 96, 96, 1);
  font-size: 18px;
  font-family: 'montserrat';
  font-weight: 500;
  padding-top: 2px;
}
