/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Container for all dropdowns */
.container {
  margin-bottom: -40px;
}

.dropdown .title {
  padding: 10px;
  background-color: rgba(255, 96, 96, 1);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  color: white; /* Text color */
}

.dropdown .title:hover {
  background-color: rgba(200, 80, 80, 1);
}

/* Dropdown content container */
.dropdown {
  padding: 0 126px;
  margin-bottom: 20px;
}

/* Dropdown title text */
h1 {
  font-size: 24px;
  color: white;
}

/* Chevron icon */
.title .chevron {
  font-size: 23px;
  display: flex;
  transition: transform 0.3s ease; /* Smoother transition for chevron */
  position: relative;
  bottom: -5px;
}

/* Chevron rotation when the dropdown is open */
.title .chevron.open {
  transform: rotate(180deg);
}
.chevron.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}


/* Dropdown list (content) */
.list {
  display: block;
  max-height: 0;
  overflow: hidden;
  background-color: rgba(246, 246, 246, 1);
  padding-left: 15px;
  padding-top: 0;
  transition:
    max-height 0.3s ease-in-out, /* Smooth height transition */
    opacity 0.3s ease-in-out,
    padding-top 0.3s ease-in-out;
}

.list.open {
  max-height: 100%;
  height: 66px;
  opacity: 1;
  padding-top: 20px;
}

/* Text in the dropdown content */
.details p {
  color: rgba(255, 96, 96, 1);
  font-size: 18px;
  font-weight: 400;
}

/* Dropdown title container */
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  background-color: #333;
  color: #fff;

  h1 {
    margin: 0;
  }
}

//-----------------------------------------------------------------Version Smartphone ---------------------------------------------
@media (max-width: 768px) and (min-width: 360px) {
  .dropdown {
    padding: 0 20px !important;
  }
}
