/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.dropContainer{
  padding-top: 30px;
  padding-left: 90px;
  padding-right: 90px;
}
.dropdown .title {
  padding: 10px;
  background-color: rgba(255, 96, 96, 1);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  cursor: pointer;
  transition: background-color 0.3s;
  color: white; /* Text color */
}

.dropdown .title:hover {
  background-color: rgba(200, 80, 80, 1);
}

/* Dropdown content container */
.dropdown {
  margin-bottom: 25px;
}

/* Dropdown title text */
h1 {
  font-size: 22px;
  color: white;
  font-family: 'montserrat';
  font-weight: 500;
}

/* Chevron icon */
.title .chevron {
  font-size: 25px;
  display: flex;
  transition: transform 0.3s ease; /* Smoother transition for chevron */
  left: -10px;
}

/* Chevron rotation when the dropdown is open */
.title .chevron.open {
  transform: rotate(180deg);
}



/* Dropdown list (content) */
.list {
  display: block;
  max-height: 0;
  overflow: hidden;
  background-color: rgba(246, 246, 246, 1);
  padding-left: 15px;
  padding-top: 0;
  transition:
    max-height 0.3s ease-in-out, /* Smooth height transition */
    opacity 0.3s ease-in-out,
    padding-top 0.3s ease-in-out;
}

.list.open {
  max-height: 100%;
  height: 130px;
  opacity: 1;
  padding-top: 10px;
}

/* Text in the dropdown content */
.details p {
  color: rgba(255, 96, 96, 1);
  font-size: 18px;
  font-weight: 400;
}

/* Dropdown title container */
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  background-color: #333;
  color: #fff;

  h1 {
    margin: 0;
  }
}

//-----------------------------------------------------------------Version Smartphone ---------------------------------------------
@media (max-width: 768px) and (min-width: 320px) {

  .dropContainer{
    padding-top: 7px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
