/* Header.scss */
$color_1: rgba(255, 96, 96, 1);
$color_2: rgba(255, 255, 255, 1);
$font-family_1: "montserrat";
$background-color_1: rgba(0, 0, 0, 0.3);

/* --------------------------------------------------Version Smartphone ----------------------------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 25px;
  align-items: center;
}

.logo {
  img {
    width: 64%;
  }
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 57px;
  list-style-type: none;
}

.nav-link {
  color: $color_1;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  font-family: $font-family_1;

  &:hover {
    text-decoration: underline;
  }
}

.header {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.imageContainer {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 223px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    position: relative;
    object-fit: cover;
    border-radius: 25px;
    width: 100%;
    height: 100%; /* Maintain image aspect ratio */
    z-index: 1;
  }

  h1 {
    position: absolute;
    font-size: 48px;
    font-weight: 500;
    font-family: $font-family_1;
    color: $color_2;
    z-index: 3;
  }
}

.imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $background-color_1;
  z-index: 2;
  border-radius: 25px;
}
// ------------------------------------------------------------Version Tablette -------------------------------------------------------------------------------------------------------------------------------
@media (max-width: 1025px) and (min-width: 768px) {

  .imageContainer  {
    h1{
    font-size: 38px;}
  }
}


// ------------------------------------------------------------Version Smartphone -----------------------------------------------------------------------------------------------------------------------------
@media (max-width: 768px) and (min-width: 320px) {
  .navbar {
     padding-bottom: 0px;
    }
  .nav-link {
    font-size: 12px;
    white-space: nowrap;
    text-transform: uppercase;
  }
  ul {
    gap: 26px;
  }
  .header {
    padding: 22px 0px;
  }
  .imageOverlay{
    border-radius: 10px;
  }
  .imageContainer {
    height: 100px !important; 
    h1 {
      position: absolute;
      font-size: 21px;
      padding-left: 15px;
    }
    img{
      border-radius: 10px;
    }
  }
}
