@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
.footer {
  background-color: #000000;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-top: 15px;
}

.content {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 30px;
}
.content .logo-white img {
  width: 9%;
}
.content .copyright p {
  color: white;
  font-size: 20px;
  padding-top: 5px;
  font-family: 'Montserrat';
}
@media (max-width: 1025px) and (min-width: 768px) {
  .content .logo-white img {
    width: 13%;
  }
}
@media (max-width: 768px) and (min-width: 320px) {
   .content {
    gap: 9px;
  }
  .content .logo-white img {
    width: 110px;
  }
  .content .copyright p {
    color: white;
    font-size: 12px;
    padding: 0 107px;
  }
}